.menu {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.6rem;
}

.menuLink {
  display: flex;
  font-weight: bold;
  color: var(--text-over-primary);
  transition: all .1s ease-in-out;
  background-color: var(--primary);
  border-radius: 20%;
  padding: 1rem;
}

.menuLink:hover {
  filter: brightness(0.8);
}

.menuLink svg {
  width: 3.4rem;
  height: 3.4rem;
  cursor: pointer;
}